@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

@font-face {
    font-family: 'Pixelboy';
    src: url('/src/Pixeboy-z8XGD.ttf') format('truetype');
}

:root {
    --pixel-border: -5px 0 0 0 black,
        5px 0 0 0 black,
        0 -5px 0 0 black,
        0 5px 0 0 black;
}
*{
    z-index: 3;
}
img {
    position: absolute;
    box-sizing: border-box;
    width: 300;
    height: auto;
    top: 8rem;
    z-index: 2;
}

.img-left {
    left: 2rem;
}

.img-right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 0;
}

.content {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #313552;
    z-index: 1;
}

.header {
    font-family: 'Pixelboy', sans-serif;
    font-size: 48px;
    display: inherit;
    justify-content: center;
    width: 100%;
    
}

.header>p {
    margin: 1rem;
    color: #b8405e;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 1rem;
}

.tabs>div {
    width: 8rem;
    font-family: 'Pixelboy';
    font-size: 30px;
    text-align: center;
    color: #b8405e;
    background-color: #313552;
    box-shadow: var(--pixel-border);
    /*Temporary border*/
    cursor: pointer;
    z-index: 3;
}

.tabs>div:hover {
    color: #2eb086;
}
.menu-box{
    width: 40%;
    font-family: 'Pixelboy';
    font-size: 24px;
    box-shadow: var(--pixel-border);
    margin: 2rem;
    padding: 1rem;
    background-color: #eee6ce;
    z-index: 3;
}
.page-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.home-content {
    width: 40%;
    font-family: 'Pixelboy';
    font-size: 24px;
    box-shadow: var(--pixel-border);
    margin: 2rem;
    padding: 1rem;
    background-color: #eee6ce;
    z-index: 3;
}

.home-hours {
    text-align: center;
    width: 40%;
    font-family: 'Pixelboy';
    font-size: 24px;
    box-shadow: var(--pixel-border);
    margin: 2rem;
    padding: 1rem;
    background-color: #eee6ce;
    z-index: 3;
}

.home-location {
    text-align: center;
    width: 40%;
    font-family: 'Pixelboy';
    font-size: 24px;
    box-shadow: var(--pixel-border);
    margin: 2rem;
    padding: 1rem;
    background-color: #eee6ce;
    z-index: 3;
}